/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* debug */
[class*="col-"] {
  min-height: 100px;
  background-color: #5ea9be;
  border: solid 1px black;
  /* padding: 2px; */
}

/* JUMBOTRON */
#jumbo {
  height: 820px;
  background-image: url("../img/home.jpg");
}

.box1 {
  height: 820px;
  /* background-image: url("../img/home.jpg"); */
}

.contentleft1 {
  height: 820px;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 180px;
}

#simplest {
  font-size: 80px;
  color: white;
}

#parinizio {
  font-size: 30px;
  color: lightblue;
}

.contentright1 {
  height: 820px;
  padding-top: 120px;
  margin-left: -12px;
  margin-right: -12px;
}

.subcontentright1 {
  height: 390px;
  max-width: 550px;
  border-radius: 15px;
  background-color: white;
  margin-left: -12px;
  margin-right: -12px;
  text-align: center;
}

#deploy {
  padding-top: 20px;
  font-size: 30px;
  margin-bottom: -1px;
}

#started {
  font-size: 30px;
  color: blue;
}

.ms_pad {
  padding-right: 100px;
  padding-left: 100px;
}

.ms_pad1 {
  padding-right: 120px;
  padding-left: 120px;
  margin-top: 10px;
}

/* parte SOTTO JUMBOTRON */
.ms_innovative {
  text-align: center;
  padding-top: 35px;
}


/* sezione IMMAGINI */
.ms_imgs {
  padding-right: 200px;
  padding-left: 200px;
}

#ms_whale {
  float: left;
  height: 100px;
  width: auto;
  padding-left: 60px;
}

#ms_fox {
  float: right;
  height: 100px;
  width: auto;
}

#ms_slack {
  float: left;
  height: 100px;
  width: auto;
}

#ms_hashicorp {
  float: right;
  height: 100px;
  width: auto;
}

#ms_wework{
  float: left;
  height: 100px;
  width: auto;
}

#ms_splunk {
  float: right;
  height: 100px;
  width: auto;
  padding-right: 60px;
}

/* sottoimmagini */
.ms_customerstories {
  text-align: center;
  padding-top: 40px;
}

/* colonna sopra */
.ms_deployscale {
  text-align: center;
  padding-top: 10px;
}

/* sottocolonne */
.transp {
  background-color: transparent;
}

.ms_colcontainer {

}

/* lista sinistra */
.ms_leftlist {
  height: 500px;
}

/* cluster */
.ms_cluster {
  height: 400px;
}

/* optimized */
.ms_optimized {
  height: 400px;
}







/* FOOTER */
.ms_footercontainer {
  padding-right: 150px;
  padding-left: 150px;
}
