/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* debug */
[class*="col-"] {
  min-height: 100px;
  background-color: #5ea9be;
  border: solid 1px black;
  /* padding: 2px; */
}

/* JUMBOTRON */
#jumbo {
  height: 820px;
  background-image: url("../img/home.jpg");
}

.box1 {
  height: 820px;
  /* background-image: url("../img/home.jpg"); */
}

.contentleft1 {
  height: 820px;
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 180px;
}

#simplest {
  font-size: 80px;
  color: white;
}

#parinizio {
  font-size: 30px;
  color: lightblue;
}

.contentright1 {
  height: 820px;
  padding-top: 120px;
  margin-left: -12px;
  margin-right: -12px;
}

.subcontentright1 {
  height: 390px;
  max-width: 550px;
  border-radius: 15px;
  background-color: white;
  margin-left: -12px;
  margin-right: -12px;
  text-align: center;
}

#deploy {
  padding-top: 20px;
  font-size: 30px;
  margin-bottom: -1px;
}

#started {
  font-size: 30px;
  color: blue;
}

.ms_pad {
  padding-right: 100px;
  padding-left: 100px;
}

.ms_pad1 {
  padding-right: 120px;
  padding-left: 120px;
  margin-top: 10px;
}

/* parte SOTTO JUMBOTRON */
/* #bottomjumbo {
  height: 100px;
  background-color: lightgrey;
} */
.ms_innovative {
  text-align: center;
  padding-top: 35px;
}


/* sezione IMMAGINI */
/* #ms_images {
  height: 200px;
  background-color: lightgrey;
} */

.ms_imgs {
  padding-right: 200px;
  padding-left: 200px;
}

#ms_whale {
  float: left;
  height: 100px;
  width: auto;
  padding-left: 60px;
}

#ms_fox {
  float: right;
  height: 100px;
  width: auto;
}

#ms_slack {
  float: left;
  height: 100px;
  width: auto;
}

#ms_hashicorp {
  float: right;
  height: 100px;
  width: auto;
}

#ms_wework{
  float: left;
  height: 100px;
  width: auto;
}

#ms_splunk {
  float: right;
  height: 100px;
  width: auto;
  padding-right: 60px;
}

/* sottoimmagini */
.ms_customerstories {
  text-align: center;
  padding-top: 40px;
}

/* colonna sopra */
.ms_deployscale {
  text-align: center;
  padding-top: 10px;
}

/* sottocolonne */
.transp {
  background-color: transparent;
}

.ms_colcontainer {

}

.ms_leftlist {
  height: 1000px;
  padding-top: 80px;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 30px;
}

.ms_cluster {
  height: 400px;
  padding-top: 50px;
}

.ms_optimized {
  height: 400px;
  padding-top: 50px;
}

.ms_oneclick {
  height: 400px;
  padding-top: 50px;
}

.ms_global {
  height: 400px;
  padding-top: 50px;
}

/* sezione DESIGNED FOR DEVELOPERS */
.ms_designed {
  text-align: center;
}


/* carousel */
.ms_carousel {
  min-height: 650px;
  text-align: center;
  padding-left: 500px;
  padding-right: 500px;
}




/* sezione FEATURES YOUR BUSINESS NEEDS */
.ms_features {
  height: 100px;
  text-align: center;
}

.ms_features p {
  font-size: 50px;
  padding-top: 15px;
  font-weight: bold;
}

.ms_predictpricing {
  height: 300px;
  font-size: 20px;
  padding-top: 30px;
}

#ms_lilbold {
  font-weight: bold;
  padding-top: 20px;
}

#ms_pricing {
  color: blue;
}

/* sezione SERVICE YOUR CUSTOMERS */
/* container colonne */
.ms_containcustomers {
  padding-left: 100px;
  padding-right: 100px;
}

/* colonne interne */
.ms_customers {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 90px;
  height: 170px;
}

/* colonne destra e sinistra */
.ms_cols1 {
  height: 400px;
  font-size: 25px;
}

.ms_cols2 {
  height: 400px;
  font-size: 25px;
}

/* sezione DEVELOPMENT TEAMS */
.ms_develop {
  height: 180px;
}

.ms_develop p {
  text-align: center;
  font-size: 50px;
  padding-top: 35px;
  font-weight: bold;
}

#ms_story {
  color: blue;
  font-size: 28px;
}


/* sezione GET STARTED NOW */


.ms_start {
  height: 300px;
  padding-top: 60px;
}

.ms_start p {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

#strtnow {
  font-size: 50px;
  font-weight: bold;
}

.ms_buttonstrt {
  font-size: 28px;
  background-color: white;
  color: lightblue;
  border-color: transparent;
}

/* FOOTER */
.ms_footercontainer {
  padding-right: 150px;
  padding-left: 150px;
}

/* lista finale */
#diglog {
  height: 90px;
}

.ms_digitallogo p {
  font-size: 20px;
  padding-top: 15px;
}

.ms_list ul {
    list-style: none;
    font-size: 28px;
}
.ms_list li {
    margin-top: 4px;
}

.ms_list p {
    font-size: 30px;
    font-weight: bold;
}
